.list_container {
  padding-right: 5px;
  padding-left: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  max-height: 65vh;
  overflow-y: auto;

  border: 1px solid rgba(255, 255, 255, 0.15); /* light translucent border */
  border-radius: 12px; /* soft round corners */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* subtle shadow */
  backdrop-filter: blur(2px);
}



