.list_item {
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  border-radius: 10px;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; 
}

.list_item_infobox > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 33%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.list_item_infobox > p.list_item_date {
  color: var(--color-text-secondary);
  margin-top: -7px;
}

