:root {
   /* Background colors */
  --color-bg-primary: #2f2f2f;
  --color-bg-secondary: #222222;

  /* Button colors */
  --color-button-primary: black;
  --color-button-secondary: white;
  --color-button-hover: #396cd8;

  /* Text colors */
  --color-text-primary: #f6f6f6;
  --color-text-secondary: #b4b4b4;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 95vh;
}