:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.list_container {
  flex-direction: row;
  align-content: center;
}

.list_item {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:baseline;
  margin-top: 0.5rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-radius: 1rem;
}
.list_item_date {
  margin-left: auto;
  font-size: 0.8rem;
  color:gray
}
.list_item > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  align-content: center;
  font-size: 1rem;
  cursor: pointer;
}

/* Hide the default checkbox */
.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper:hover .custom-checkbox {
  background-color: #d5d5d5;
}

.checkbox-wrapper:active .custom-checkbox {
  transform: scale(0.9);
}

/* Custom box */
.custom-checkbox {
  width: 24px;
  height: 24px;
  background-color: #b0b0b0; /* darker gray */
  border: 2px solid #666; 
  border-radius: 6px;
  position: relative;
  transition: all 0.2s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked + .custom-checkbox::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 8px;
  height: 14px;
  border: solid #111;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-wrapper:hover .custom-checkbox {
  background-color: #d5d5d5;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}
.logo {
  height: auto;
  width: 300px;

}
input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
