.settings-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.4s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.settings-modal-container {
  position: relative;
  width: 60vw;
  height: 60vh;
  max-width: 625px;
  max-height: 500px;
  padding: 25px;
  background-color: #333; /* slightly darker gray */
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.6s ease, transform 0.3s ease;
}

.settings-content-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-y: auto;
}

.settings-content-container button {
  margin: 0.5em 0.25em;
  padding: 0.5em 0.25em;
}

.settings-content-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.settings-content-container > div > .settings-modal-message {
  flex-grow: 1;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-10px);
}

.setting_x {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em 0.3em;
  border-radius: 0.5em;
  margin: 1em 1em;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.15); /* light translucent border */
  border-radius: 12px; /* soft round corners */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* subtle shadow */
  backdrop-filter: blur(2px);
}


.settings-modal-message {
  border: 1px ridge black;
  font-size: small;
  overflow-y: auto;
  text-align: left;
  padding: 0.25em;
  background-color: var(--color-bg-secondary);
}