.p-multiselect {
  width: 220px;
  background-color: #333;
  color: var(--color-text-primary);
  border-radius: 8px;
  font-size: 12px;
  min-width: 14em;
}

.p-multiselect .p-multiselect-label {
  padding: 6px 10px;
}

.p-multiselect-panel {
  background-color: #222;
  color: var(--color-text-primary);
}

.dropdown-container {
  max-width: 11em; /* or whatever value fits your layout */
  width: 100%;
  text-align: start;
  align-items: center;
  justify-content: center;
  display: flex;
}
.dropdown-container > * {
  padding-left: 5px
}

.p-multiselect-dark {
  width: 100%;
}